---
import Layout from "../layouts/Layout.astro";
import IdleNashville from "../components/IdleNashville.svelte";
---

<Layout title="Idle Nashville - idle game">
	<main>
		<IdleNashville client:only="svelte" />
	</main>
</Layout>
