<!-- placeholder for Termly privacy policy url/link to view/edit/delete their personal data -->
<p>
    Idle Nashville does not currently save personal data for users beyond email
    address. Your email address is removed from our servers when you delete your
    account.
</p>
<!-- To do: link to page to remove their account if signed in, otherwise link to sign in -->
